
.contact {
  min-hight: 20px;
  background-color: #0071bb;


  &__text {
    width: 100%;
    background-color: transparent;
    border-radius: 5pt;
    font-size: 12pt;
    font-size: 12pt;
    letter-spacing: 0.06em;
    padding-top: 23px;

    padding-bottom: 25px;


  }

  &__signup-button {
    background-color: #e6822b;
    width: 100%;
    border-radius: 5px;
    font-size: 12pt;
    height: 46px;
    font-weight: 600;

    button {
      padding-top: 100px;
    }
  }


  &__section {
    padding-top: 20px;

    p.text {
      color: white;
      // font-size: 18px;
    }

    p.terms-section {
      color: white;
      font-size: 15px;


    }

    .termlink {
      text-decoration: underline;
      color: white;

    }


  }


  @include breakpoint(medium) {
    padding-top: 10px;
    padding-bottom: 10px;

    &__text {
      width: 80%;
    }


    p.text {

      font-size: 17pt;
      letter-spacing: 0.02em;
    }


    &__section {
      p.terms-section {
        color: white;
        font-size: 14px;

      }
    }
  }

}

//top-block section style-------------------------------------------------------------------------------


.top-block {
  margin-top: 62px;
  margin-bottom: -30px;
  text-align: center;

  &__link {
    color: #0071bb !important;
    text-decoration: underline !important;
    font-weight: 700;
    font-size: 18px;
    display: inline-block !important;

    &:after {
      right: 0 !important;
    }
  }

  @include breakpoint(medium) {

    ul {
      padding-left: 100px;
      padding-right: 100px;
    }

    h1 {
      font-size: 36pt;
    }
  }
}

//middle -block section style-------------------------------------------------------------------------------

.middle-block {
  padding-top: 63px;
  padding-bottom: 60px;
  align-items: center;
  text-align: center;

  p {
    padding: 0 55px
  }

  h4 {
    margin: -7px -2px 7px 0;
  }

}

//bottom-block section style-------------------------------------------------------------------------------

.bottom-block {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #0071bb;
  text-align: center;


  h1 {
    font-family: Arial;
    color: #ffffff;
    letter-spacing: 0.07em;


  }

  p {
    //font-family: Arial bold;
    color: #ffffff;
    //font-size: 15pt;
    margin-bottom: 42px;
  }


  &__signup {
    background-color: #e6822b;
    border-radius: 8px;
    width: 35%;
    font-stretch: 100%;
    height: 48px;

  }

  @include breakpoint(medium) {
    p {
      padding-left: 200px;
      padding-right: 200px;
    }

    h1 {
      font-size: 42px;
    }
  }


}