//.front-page{
//  background-image: url("/themes/sample-site/static/images/cms/mg.jpeg");
//}
//
//
//body {
//  background-image:url("/themes/sample-site/static/images/cms/mg.jpeg");
//  color: #000;
//  padding: 0;
//  margin: 0;
//  //font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
//  //font-weight: normal;
//  //font-style: normal;
//  //line-height: 1;
//  position: relative;
//  cursor: default;
//}

//.grid2{
////  background-color: #0071bb;
////  padding-top: 10px;
////}
////
////.grid3{
////  background-color: #ffffff;
////  text-align: center;
////}
////
////.grid5{
////  background-color: #0071bb;
////  text-align: center;
////  color:white;
////}


$hero-height: 60vh;

.hero{
  background-image:url("/themes/sample-site/static/images/cms/hero/hero1.jpg");
  background-size: cover;
  height: $hero-height;
  display: flex;
  justify-content: center;



  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}


.heroend{
  background-color: #0071bb;

  p{
    color: #ffffff;
  }

  a{
    color:#ffffff;
  }

}

.signup_button{
  color:#e6822b;
}
