.footer {
  font-size: 10pt;
  padding-top: 35px;
  padding-bottom: 35px;

  &__text {
    text-align: left;
    list-style: none;
    padding-left: 0;
    margin: 0;


    li {
      color: black;
      display: grid;
      //margin-right: 10px;
      //margin-top: 8px;
      text-decoration: underline;
      margin-bottom: 5px;

    }
  }

  &__logo {
    font-size: 20px;
    text-align: center;

    .logo {
      display: inline-block;
      margin-right: 10px;
    }

  }

  &__right-text {
    padding-top: 10px;
    text-align: center;


    p{
      margin-bottom: 0;
    }

  }

  &__link {

    text-decoration: underline;
    color: black;

  }

  @include breakpoint(medium) {

    &__text {

      display: inline-flex;
    li{
      margin-right: 21px;
      font-size: 16px;
    }

    }

    &__logo {
      font-size: 30px;
      text-align: left;
      margin-right: 20px;

    }

    &__right-text {
      text-align: right;

      p {
        display: inline-block;
        font-size: 16px;
        margin-right: 10px
      }
      p1{
       padding-left: 10px;
      }
    }
  }

}


