.footer {
  font-size: 8pt;
  padding-top: 15px;

  &__text {
    text-align: left;
    list-style: none;
    padding-left: 0;
    margin: 0;


    li {
      color: black;
      display: grid;
      //margin-right: 10px;
      //margin-top: 8px;
      text-decoration: underline;
      margin-bottom: 5px;

    }
  }

  &__logo {
    font-size: 20px;
    text-align: left;

    .logo {
      display: inline-block;
      margin-right: 18px;
    }

  }

  &__right-text {
    text-align: right;

  }

  &__link {

    text-decoration: underline;
    color: black;

  }

  @include breakpoint(medium) {

    &__text {

      display: inline-flex;
    li{
      margin-right: 15px;
    }

    }

    &__logo {
      font-size: 15px;
      text-align: left;

    }

    &__right-text {
      text-align: right;

      p {
        display: inline-block;
        margin-left: 20px;
      }
    }
  }

}


