.header {
  padding: 15px 0;

  a {
    //color: black;
    //font-size: 13px;

  }

  .header__button {

    margin-bottom: 0;
    color: black;
    border-color: #0071bb;
    border-radius: 5px;
    font-size: 8pt;

    &:hover {
      border-color: #e6822b;
      color: #e6822b;
    }

  }

  &__logo {

    a {
      display: inline-block;
    }

    img {
      width: 130px;
      max-width: 100%;
    }
  }

  &__my-account {
    text-align: right;
    font-size: 8pt;

    a {
      &:hover {
        color: #e6822b;
      }
    }
  }

  @include breakpoint(medium) {


    .header__button {
      width: 130px;
      font-size: 12pt;

    }
    &__logo {

      text-align: center;

      img {
        width: 80%;
      }
    }

    &__my-account {
      text-align: right;
      font-size: 12pt;


    }
  }
}


