.mobile-menu {
  background: get-color('primary');
  z-index: 2;

  ul {
    padding-top: 1rem;

    li {
      margin-bottom: 1rem;
    }
  }

  a {
    color: $white;

    &:hover {
      opacity: 0.6;
    }
  }
}
